.searchBar {
  .inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .input {
      max-width: 50vh;
    }
  }
  .buttonWrapper {
    button {
      margin-right: 15px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .searchBar {
    .buttonWrapper {
      flex-direction: column;

      button {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}
