* {
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;

  &:active,
  :focus {
    outline: none !important;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

label {
  margin-bottom: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border-radius: 15px !important;
}

h1 {
  font-family: "Shadows Into Light", cursive;
}
